<div class="card m-3">
  <h5 class="card-header">Allianz Form Demo</h5>
  <div class="card-body">
    <form [formGroup]="userRegistrationForm" (ngSubmit)="onSubmit()">
      <app-user-main-info [submitted]="submitted" formControlName = "mainFormInfo"></app-user-main-info>
      <app-user-address-info [submitted]="submitted" formControlName = "addressFormInfo"></app-user-address-info>
      <div class="text-right">
        <!-- <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">Cancel</button> -->
        <button type="submit" class="btn btn-primary">Register</button>
        <!-- <button type="submit" [disabled]="userRegistrationForm.invalid" class="btn btn-primary mr-1">Register</button> -->
      </div>
    </form>
  </div>
</div>